.e10_86 { 
	background-color:rgba(255, 255, 255, 1);
	display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.e10_109 { 
	background-color:rgba(210.00000268220901, 156.00000590085983, 156.00000590085983, 1);
	width:1324px;
	height:747px;
	position:absolute;
	border-top-left-radius:37px;
	border-top-right-radius:37px;
	border-bottom-left-radius:37px;
	border-bottom-right-radius:37px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.e10_108 { 
	width:1023px;
	height:631.2525024414062px;
	position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}
@media screen and (max-width: 1324px) {
  .e10_109 {
    width: 90%;
  }
}
.e59_155 { 
	width:1023px;
	height:631.2525024414062px;
	position:absolute;
	left:0px;
	top:0px;
}
/*PAROLA*/
.e10_110 { 
	width:358.4861145019531px;
	height:93.28573608398438px;
	position:absolute;
	left:0px;
	top:206px;
}
.e10_111 { 
	width:358.4861145019531px;
	height:50.69500732421875px;
	position:absolute;
	left:0px;
	top:42.590728759765625px;
}
.ei10_111_4_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:358.4861145019531px;
	height:50.69500732421875px;
	position:absolute;
	left:0px;
	top:0px;
  font-family:Adamina;
  font-size: 21px;
}
.e10_112 { 
	color:rgba(139.0000069141388, 0, 0, 1);
	width:312.61920166015625px;
	height:36.986663818359375px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Adamina;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
@media screen and (max-width: 1265px) {
  .e10_110 { 
    width:358.4861145019531px;
    height:93.28573608398438px;
    position:absolute;
    left:0px;
    top:206px;
  }
  .e10_111 { 
    width:258.4861145019531px;
    height:30.69500732421875px;
    position:absolute;
    left:0px;
    top:42.590728759765625px;
  }
  .ei10_111_4_17 { 
    background-color:rgba(255, 255, 255, 1);
    width:258.4861145019531px;
    height:30.69500732421875px;
    position:absolute;
    left:0px;
    top:0px;
    font-family:Adamina;
    font-size: 21px;
  }
  .e10_112 { 
    color:rgba(139.0000069141388, 0, 0, 1);
    width:312.61920166015625px;
    height:36.986663818359375px;
    position:absolute;
    left:0px;
    top:5px;
    font-family:Adamina;
    text-align:left;
    font-size:20px;
    letter-spacing:0;
  }
}
@media screen and (max-width: 994px) {
  .e10_110 { 
    width:258.4861145019531px;
    height:73.28573608398438px;
    position:absolute;
    left:280px;
    top:206px;
  }
}
/*VERIFICARE PAROLA*/
.e10_113 { 
	width:358.4861145019531px;
	height:93.28573608398438px;
	position:absolute;
	left:425px;
	top:206px;
}
.e10_114 { 
	width:358.4861145019531px;
	height:50.69500732421875px;
	position:absolute;
	left:0px;
	top:42.590728759765625px;
}
.ei10_114_4_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:358.4861145019531px;
	height:50.69500732421875px;
	position:absolute;
	left:0px;
	top:0px;
  font-family:Adamina;
  font-size: 21px;
}
.e10_115 { 
	color:rgba(139.0000069141388, 0, 0, 1);
	width:312.61920166015625px;
	height:36.986663818359375px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Adamina;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
@media screen and (max-width: 1265px) {
  .e10_113 { 
    width:258.4861145019531px;
    height:73.28573608398438px;
    position:absolute;
    left:425px;
    top:206px;
  }
  .e10_114 { 
    width:258.4861145019531px;
    height:30.69500732421875px;
    position:absolute;
    left:0px;
    top:42.590728759765625px;
  }
  .ei10_114_4_17 { 
    background-color:rgba(255, 255, 255, 1);
    width:258.4861145019531px;
    height:30.69500732421875px;
    position:absolute;
    left:0px;
    top:0px;
    font-family:Adamina;
    font-size: 21px;
  }
  .e10_115 { 
    color:rgba(139.0000069141388, 0, 0, 1);
    width:312.61920166015625px;
    height:36.986663818359375px;
    position:absolute;
    left:0px;
    top:5px;
    font-family:Adamina;
    text-align:left;
    font-size:20px;
    letter-spacing:0;
  }
}
@media screen and (max-width: 994px) {
  .e10_113 { 
    width:258.4861145019531px;
    height:73.28573608398438px;
    position:absolute;
    left:280px;
    top:306px;
  }
}
/*BUTON*/
.e10_119 { 
	width:297px;
	height:59.252525329589844px;
	position:absolute;
	left:726px;
	top:572px;
}
.e10_120 { 
	background-color:rgba(0, 132.8124949336052, 6.213457938283682, 1);
	width:297px;
	height:59.252525329589844px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:37px;
	border-top-right-radius:37px;
	border-bottom-left-radius:37px;
	border-bottom-right-radius:37px;
}
.e10_120:hover {
  background-color: rgba(0, 180, 39, 1);
}
.e10_120:active {
  background-color: rgb(0, 71, 15);
}
#e10_121 { 
	color:rgba(255, 255, 255, 1);
	width:227px;
	height:46.55555725097656px;
	position:absolute;
	left:34.732696533203125px;
	top:7px;
	font-family:Adamina;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e10_133 { 
	color:rgba(139.0000069141388, 0, 0, 1);
	width:567px;
	height:68px;
	position:absolute;
	left:120px;
	top:0px;
	font-family:Adamina;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
@media screen and (max-width: 1324px) {
  .e10_119 { 
    width:297px;
    height:59.252525329589844px;
    position:absolute;
    left:626px;
    top:572px;
  }
  .e10_120 { 
    background-color:rgba(0, 132.8124949336052, 6.213457938283682, 1);
    width:297px;
    height:59.252525329589844px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:37px;
    border-top-right-radius:37px;
    border-bottom-left-radius:37px;
    border-bottom-right-radius:37px;
  }
  .e10_120:hover {
    background-color: rgba(0, 180, 39, 1);
  }
  .e10_120:active {
    background-color: rgb(0, 71, 15);
  }
  #e10_121 { 
    color:rgba(255, 255, 255, 1);
    width:227px;
    height:46.55555725097656px;
    position:absolute;
    left:34.732696533203125px;
    top:7px;
    font-family:Adamina;
    text-align:center;
    font-size:20px;
    letter-spacing:0;
  }
  .e10_133 { 
    color:rgba(139.0000069141388, 0, 0, 1);
    width:567px;
    height:68px;
    position:absolute;
    left:120px;
    top:0px;
    font-family:Adamina;
    text-align:center;
    font-size:30px;
    letter-spacing:0;
  }
}
@media screen and (max-width: 1225px) {
  .e10_119 { 
    width:297px;
    height:59.252525329589844px;
    position:absolute;
    left:580px;
    top:572px;
  }
}
@media screen and (max-width: 1133px) {
  .e10_119 { 
    width:297px;
    height:59.252525329589844px;
    position:absolute;
    left:550px;
    top:572px;
  }
}
@media screen and (max-width: 994px) {
  .e10_119 { 
    width:297px;
    height:59.252525329589844px;
    position:absolute;
    left:260px;
    top:572px;
  }
}